.main{
   display: flex;
   height: 700px;
}
.section1{
    p{
        position: absolute;
        width: 1027px; 
        height: 40px; 
        left: 25%;  
        font-family: 'Inter'; 
        font-style: normal; 
        font-weight: 400; 
        font-size: 24px; 
        line-height: 29px; 
        text-align: center; 
        color: #000000;
    }
}
.section2{
    background-image: url(../../assets/retangulo.png);
    position: relative;
    width: 442px;
    height: 598px;
    top: 7%;
    left: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
 


}
.sectionimg{
    height: 170px;
    display: flex;
    align-items: center;
}
.section3{
    width: 325px; 
    height: 286px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    input{
        border: solid #005695;
        border-radius: 20px;
        margin-right: 1%;
        background-color: transparent;
        width: 325px;
        height: 5vh;
        font-size: 20px;
  
        &::placeholder {
            position: relative;
            left: 7%;
            font-size: 14px;
            color: #000000;
      }
    }
}

.section4{
    height: 142px;
    display: flex;
    align-items: center;
        Button{
        border: solid #005695;
        border-radius: 20px;
        margin-right: 1%;
        background-color: #005695;
        width: 195px;
        height: 53px;
        font-family: 'Inter'; 
        font-style: normal; 
        font-weight: 400; 
        font-size: 20px; 
        line-height: 24px; 
        text-align: center; 
        color: #FFFFFF;

        
        }

}