
.foot{
    height: 18vh;
}
.footer{
    display: flex;
    align-items: center;  
    height: 13vh;
    width: 100%;
    background: #005695;
    div{
        display: flex;
        p{
            width: 15vw; 
            height: 2.5vh; 
            margin-left: 10%;
            font-family: 'Inter'; 
            font-style: normal; 
            font-weight: 700; 
            font-size: 16px; 
            line-height: 2.5vh;
            color: rgba(255, 255, 255, 0.86);
            }

    }  
}
.footer2{
    height: 5vh;
    background: #232020;
    display: flex;
    align-items: center;
    p{
        width: 25vw; 
        height: 2vh; 
        margin-left: 40%;
        font-family: 'Inter'; 
        font-style: normal; 
        font-weight: 700; 
        font-size: 15px; 
        line-height: 2vh; 
        color: rgba(255, 255, 255, 0.86);
    }
}

.icone1{ 
    width: 2vw; 
    height: 4vh;
    margin-left: 60vw;
}
.icone2{
    width: 2vw; 
    height: 4vh;
    margin-left: 1vw;
}

.icone3{
    width: 2vw; 
    height: 4vh;
    margin-left: 1vw;
}

.icone4{
    width: 2vw; 
    height: 4vh;
    margin-left: 1vw;
}

.icone5{
    width: 2vw; 
    height: 4vh;
    margin-left: 1vw;
}
